<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.NoticeMapper">
	
	<!-- 공지사항 목록 -->
	<select id="noticeList" resultType="NoticeDTO">
		SELECT NTNO
			   ,NTTITLE
			   ,NTCONTENT
			   ,NTWRITER
			   ,NTREGDATE
			   ,NTREGNO
			   ,NTUPDDATE
			   ,NTUPDNO
		FROM NOTICE
	</select>
	
	<!-- 공지사항 등록 -->
	<insert id="insertNotice" parameterType="NoticeDTO">
		INSERT INTO NOTICE (
			NTTITLE
			,NTCONTENT
			,NTWRITER
			,NTREGDATE
			,NTREGNO
		)
		VALUES (
			#{ntTitle}
			,#{ntContent}
			,#{ntWriter}
			,now()
			,#{ntRegNo}
		)
		
		<selectKey resultType="string" keyProperty="ntNo" order="AFTER">
			SELECT last_insert_id() FROM DUAL;
		</selectKey>
	</insert>
	
	<!-- 공지사항 상세 -->
	<select id="noticeDetail" parameterType="String" resultType="NoticeDTO">
		SELECT NTNO
			   ,NTTITLE
			   ,NTCONTENT
			   ,NTWRITER
			   ,NTREGDATE
		FROM NOTICE
		WHERE NTNO=#{ntNo}
	</select>
	
	<!-- 공지사항 수정 -->
	<update id="noticeUpdate" parameterType="NoticeDTO">
		UPDATE NOTICE
		SET NTTITLE=#{ntTitle}
			,NTCONTENT=#{ntContent}
		WHERE NTNO = #{ntNo}
	</update>
	
	<!-- 공지사항 삭제 -->
	<delete id="noticeDelete" parameterType="String">
		DELETE FROM NOTICE
		WHERE NTNO=#{ntNo}
	</delete>
	
	<!-- 마이페이지 > 내가 쓴 글 보기 -->
	<select id="userWriteList" resultType="NoticeDTO">
		SELECT NTNO
			  ,NTTITLE
			  ,NTCONTENT
			  ,NTWRITER
			  ,NTREGDATE
			  ,NTREGNO
		FROM NOTICE
	</select>
	
</mapper>